@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=5cb68b3b-4d4c-484c-b3df-490ebbf1db5b");
@font-face{
    font-family:"Helvetica Neue LT W05_25 Ult Lt";
    src:url("../fonts/ec6281a0-c9c4-4477-a360-156acd53093f.woff2") format("woff2"),url("../fonts/11066b40-10f7-4123-ba58-d9cbf5e89ceb.woff") format("woff");
}
@font-face{
    font-family:"Helvetica Neue LT W05_35 Thin";
    src:url("../fonts/7d63ccf8-e0ae-4dee-ad4d-bbc798aa5803.woff2") format("woff2"),url("../fonts/b2c1327f-ab3d-4230-93d7-eee8596e1498.woff") format("woff");
}
@font-face{
    font-family:"Helvetica Neue LT W05_45 Light";
    src:url("../fonts/f9c5199e-a996-4c08-9042-1eb845bb7495.woff2") format("woff2"),url("../fonts/2a34f1f8-d701-4949-b12d-133c1c2636eb.woff") format("woff");
}
@font-face{
    font-family:"Helvetica Neue LT W05_55 Roman";
    src:url("../fonts/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"),url("../fonts/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff");
}
@font-face{
    font-family:"Helvetica Neue LT W05_75 Bold";
    src:url("../fonts/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2") format("woff2"),url("../fonts/7b415a05-784a-4a4c-8c94-67e9288312f5.woff") format("woff");
}



@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?rcocpq');
    src:  url('../fonts/icomoon.eot?rcocpq#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?rcocpq') format('truetype'),
        url('../fonts/icomoon.woff?rcocpq') format('woff'),
        url('../fonts/icomoon.svg?rcocpq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal; 
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
    content: "\e900";
}
.icon-chevron-left:before {
    content: "\e901";
}
.icon-chevron-up:before {
    content: "\e902";
}
.icon-chevron-down:before {
    content: "\e903";
}
.icon-arrow-right:before {
    content: "\e904";
}
.icon-arrow-left:before {
    content: "\e905";
}
.icon-arrow-up:before {
    content: "\e906";
}
.icon-arrow-down:before {
    content: "\e907";
}
.icon-plus:before {
    content: "\e908";
}
.icon-minus:before {
    content: "\e909";
}
.icon-close:before {
    content: "\e90a";
}
.icon-search:before {
    content: "\e90b";
}
.icon-burger:before {
    content: "\e90c";
}


@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
    @apply p-0 m-0 flex flex-1 w-full flex-col min-h-full;
}
body{
    @apply flex flex-col flex-1 justify-between items-start font-helvetica55 text-primary-dark;
}


h1{
    @apply text-[42px] lg:text-[54px] font-helvetica25 leading-[54px] lg:leading-[64px] tracking-wide;
}
h2{
    @apply text-[28px] lg:text-[42px] font-helvetica25 leading-[36px] lg:leading-[54px];
}
h3{
    @apply text-[22px] lg:text-[28px] font-helvetica75 leading-[30px] lg:leading-[36px];
}
h4{
    @apply text-[18px] lg:text-[22px] font-helvetica75 leading-[24px] lg:leading-[30px];
}
h5{
    @apply text-[18px] lg:text-[18px] font-helvetica75 leading-[22px] lg:leading-[22px];
}


.homepage h1{
    @apply text-[32px] lg:text-[54px];
}


a{
    @apply hover:text-secondary focus:text-secondary focus:opacity-90;
}


.container{
    @apply max-w-7xl px-4 mx-auto w-full;
}
.innerContent > p{
    @apply pb-8 font-helvetica35;
}

.logoPro{
    @apply max-w-[170px] lg:max-w-[210px] w-full;
}


/* header */
.header{
    @apply w-full bg-white h-[75px] lg:h-[90px] flex items-center z-[9];
}
.header .logo{
    @apply font-bold text-white text-2xl font-helvetica75;
}
.header .navContainer{
    @apply flex justify-end;
}
.header .navContainer > a{
    @apply flex justify-between items-center gap-2 bg-white text-primary-dark rounded-full px-5 py-3 font-light text-sm font-helvetica75;
}
.header .navContainer > a > span{
    @apply pt-[1px];
}
.header .navContainer > a > i {
    @apply text-primary-dark;
}
.admin-bar .header{
    @apply lg:top-[32px];
}


/* main navigation  */
.mainNavigation{
    @apply fixed top-0 bottom-0 right-0 left-0 bg-black bg-opacity-0 -z-[9999] flex flex-col justify-start items-end  transition-all ease-in-out duration-200 w-full;
}
.mainNavigation.active{
    @apply z-[9999] bg-opacity-50;
}
.mainNavigation > div{
    @apply w-[30%] min-w-[360px] -mr-[100%] bg-white text-primary-dark py-10 transition-all ease-in-out duration-200;
}
.mainNavigation.active > div{
    @apply mr-0;
}
.mainNavigation > div:last-child{
    @apply w-[30%] min-w-[360px] bg-gray-50 p-10 flex justify-start items-start;
}
.mainNavigation > div .logo{
    @apply text-primary-dark font-bold text-2xl font-helvetica75;
}
.mainNavigation > div .close{
    @apply text-xs flex justify-center items-center gap-2 border-[1px] border-primary-dark text-primary-dark rounded-full w-14 h-14 hover:text-secondary hover:border-secondary;
}
.mainNavigation > div > ul.menu{
    @apply flex flex-col gap-1 md:gap-2;
}
.mainNavigation > div > ul.menu > li{
    @apply px-10;
}
.mainNavigation > div > ul.menu > li > a{
    @apply text-base md:text-lg font-helvetica35 hover:text-secondary transition-all ease-in-out py-4 block lowercase;
}
.mainNavigation > div > ul.menu > li.current_page_item{
    @apply bg-secondary bg-opacity-10 border-l-[10px] border-l-secondary pl-[30px];
}
.mainNavigation > div > ul.menu > li.current_page_item > a{
    @apply text-secondary font-helvetica75;
}


/* main content area */
.mainContent{
    @apply flex flex-1 flex-col h-full w-full min-h-[100vh] lg:min-h-[80vh] lg:min-h-full relative z-[8];
}


/* vimeoVideo */
.admin-bar .vimeoVideo{
    @apply hidden lg:block absolute inset-0 w-full min-h-full h-[82vh] z-[0];
}
.vimeoVideo{
    @apply hidden lg:block absolute inset-0 w-full min-h-full h-[82vh] z-[0] overflow-hidden bg-black;
}
.vimeoVideo iframe{
    @apply w-[100vw] h-[56.25vw] top-[50%] left-[50%] min-h-[100vh] min-w-[177.77vh] absolute -translate-x-[50%] -translate-y-[50%];
}

/* footer */
.footer{
    @apply bg-primary-dark text-white py-5 w-full min-h-[70px];
}
.footer ul.menu{
    @apply flex flex-row justify-end items-center gap-2 mt-4 lg:mt-0;
}
.footer ul.menu > li > a{
    @apply text-xs lg:text-sm opacity-75 font-helvetica35 hover:opacity-100;
}
.footer ul.menu > li{
    @apply relative pl-3;
}
.footer ul.menu > li:not(:first-child):before{
    content: '';
    @apply absolute top-3 left-0 w-1 h-1 rounded-full bg-primary-light;
}


/* buttons */
.button{
    @apply bg-primary-dark hover:bg-primary-light text-white transition-all ease-in-out h-12 flex justify-center items-center px-8 hover:text-white;
}
.button.secondary{
    @apply hover:text-white bg-secondary hover:bg-secondary hover:bg-opacity-75;
}
.button.white{
    @apply text-primary-dark hover:text-white bg-white hover:bg-primary-dark hover:bg-opacity-75;
}
.button.outline.secondary{
    @apply bg-white hover:bg-secondary hover:bg-opacity-100 border-2 border-secondary text-secondary outline-none hover:text-white;
}


/*  */
.homeBlock{
    @apply w-full h-full flex flex-1 justify-center items-center bg-cover bg-center text-center text-primary-dark pt-20 md:pt-0 overflow-hidden relative;
}
.homeBlock h1{
    @apply font-helvetica45;
}
.homeBlock p{
    @apply font-helvetica45 text-base;
}

.ai{
    @apply block w-full md:mt-6;
}
.ai .form{
    @apply bg-white rounded flex justify-between items-center mt-2;
}
.ai .form input.aiQuestion{
    @apply p-4 bg-transparent border-0 focus:ring-0 focus:outline-none w-full;
}
.ai .form button.aiSubmit{
    @apply w-7 h-7 min-h-[28px] min-w-[28px] relative flex justify-center items-center mr-4;
}
.ai.active .form button.aiSubmit:after{
    content: "";
    @apply border-2 border-transparent border-t-primary-dark w-full h-full absolute rounded-full inset-0 animate-spin;
}
.ai.active .form button.aiSubmit > img{
    @apply animate-pulse;
}
.ai .responses{
    @apply w-full bg-white rounded-md shadow-ai overflow-y-auto max-h-[60vh] lg:max-h-[40vh]; 
}
.ai .responses .item{
    @apply text-left relative;
}
.ai .responses .item.response{
    @apply bg-[#F7F7F8];
}
.ai .responses .item > div{
    @apply py-1 pr-4 pl-14;
}
.ai .responses .item:before{
    content: "";
    @apply w-6 h-6 rounded bg-secondary absolute top-[18px] left-4 flex justify-center items-center;
}
.ai .responses .item.response:before{
    content: "D";
    @apply bg-primary-dark text-white;
}
.ai .responses .item a{
    @apply text-secondary underline hover:text-primary-dark;
}
.ai .responses .item p,
.ai .responses .item ul,
.ai .responses .item ol{
    @apply my-4 break-words;
}
.ai .responses .item *{
    @apply text-sm font-helvetica45;
}
.ai .responses .item ul,
.ai .responses .item ol{
    @apply pl-[18px];
}
.ai .responses .item ul{
    @apply list-disc;
}
.ai .responses .item ol{
    @apply list-decimal;
}
.ai .responses .item ul > li,
.ai .responses .item ol > li{
    @apply my-2;
}
.ai .responses .aiCancel{
    @apply my-4 py-2 px-5 border text-xs uppercase border-primary-dark rounded-sm hover:text-white hover:bg-primary-dark transition-all ease-in-out;
}



/*  */
.topPage{
    @apply lg:min-h-[40vh] w-full flex flex-col-reverse lg:flex-row text-white justify-end relative;
}
.topPage > div.bg{
    @apply bg-primary-dark absolute left-0 top-0 bottom-0 z-[1];
}
.topPage > div.image{
    @apply hidden lg:block bg-primary-dark lg:absolute lg:right-0 lg:top-0 lg:bottom-0 z-[1] bg-cover bg-center pb-[65%] lg:pb-0 w-full;
}
.topPage > div.container{
    @apply relative z-[2] flex flex-col justify-end pb-6 lg:pb-10 bg-primary-dark lg:bg-transparent pt-44 lg:pt-0;
}
.topPage > div.container h2{
    @apply lg:max-w-[30%];
}


/* productArchive */
.productArchive{
    @apply py-10;
}
.productArchive .search-filter-results{
    @apply border-t-[1px] border-l-[1px] border-primary-light border-opacity-25;
}
.productArchive .item{
    @apply border-b-[1px] border-r-[1px] border-primary-light border-opacity-25 p-6 py-10;
}
.productArchive .item:last-child{
    @apply w-full;
}
.productArchive .item img{
    @apply max-h-[300px] w-auto mx-auto;
}
.productArchive .item:hover img{
    @apply opacity-90;
}
.productArchive .item .title{
    @apply text-[15px] lg:text-[20px] leading-[18px] leading-[24px] font-helvetica45 block text-center mt-4;
}
.productArchive .page-pagination{
    @apply  border-b-[1px] border-primary-light border-opacity-25;
}
.productArchive .page-pagination ul{
    @apply  flex justify-between;
}
.productArchive .page-pagination ul > li{
    @apply border-r-[1px] border-primary-light border-opacity-25 w-full;
}
.productArchive .page-pagination ul > li > *{
    @apply py-4 lg:py-5 w-full flex justify-center items-center h-full;
}
.productArchive .filter{
    @apply w-full mb-6 relative z-[8];
}
.productArchive .filter > form > ul{
    @apply flex flex-col md:flex-row justify-between items-center;
}
.productArchive .filter > form > ul > li,
.productArchive .filter > form > ul > li > label{
    @apply w-full;
}
.productArchive .filter > form > ul > li.sf-field-search > label{
    @apply md:pr-5 relative;
}
.productArchive .filter > form > ul > li.sf-field-search > label:after{
    content:'\e90b';
    font-family:'icomoon';
    @apply absolute top-3 right-10;
}
.productArchive .filter input{
    @apply text-sm leading-3;
}
.productArchive .filter > form > ul > li.sf-field-search input{
    @apply w-full border-[1px] bg-primary-light bg-opacity-5 border-primary-light border-opacity-25 h-12 px-5 focus:ring-0 focus:outline-none focus:border-opacity-100;
}

.productArchive .filter > form > ul > li.sf-field-taxonomy-product_system,
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_use{
    @apply h-12 relative border-[1px] border-primary-light border-opacity-25;
}
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_system{
    @apply border-b-0 md:border-b-[1px] md:border-r-0;
}
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_system > h4,
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_use > h4{
    @apply  text-sm leading-4 px-5 flex justify-between items-center relative;
}
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_system > h4 > button,
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_use > h4 > button{
    @apply absolute inset-0 flex justify-end items-center pr-4 pb-2;
}
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_system > ul,
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_use > ul{
    @apply hidden;
}
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_system > ul.show,
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_use > ul.show{
    @apply block absolute top-[100%] -left-[1px] -right-[1px] h-[300px] overflow-y-auto bg-white border-[1px] border-primary-light border-opacity-25 shadow-lg z-[8];
}
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_system > ul > li,
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_use > ul > li{
    @apply relative py-0 w-full cursor-pointer;
}
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_system > ul > li > input,
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_use > ul > li > input{
    @apply absolute top-0 left-0 w-full h-full opacity-0;
}
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_system > ul > li > input + label,
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_use > ul > li > input + label{
    @apply py-2 px-5 text-sm w-full relative;
}
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_system > ul > li > input:checked + label,
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_use > ul > li > input:checked + label{
    @apply bg-secondary bg-opacity-10;
}
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_system > ul > li > input:checked + label:before,
.productArchive .filter > form > ul > li.sf-field-taxonomy-product_use > ul > li > input:checked + label:before{
    content: "";
    @apply absolute top-0 bottom-0 w-2 left-0 bg-secondary;
}


/* accordions */
.accordions{
    @apply my-10 lg:my-20 flex flex-col gap-5;
}
.accordions .item{
    @apply transition-all duration-200 ease-in-out;
}
.accordions .item .title{
    @apply flex justify-between items-center px-4 md:px-10 lg:px-14 py-5 bg-secondary-light;
}
.accordions .item .title > span{
    @apply font-helvetica75 lowercase;
}
.accordions .item .title > div i:first-child{
    @apply block;
}
.accordions .item .title > div i:last-child{
    @apply hidden;
}
.accordions .item.active .title > div i:first-child{
    @apply hidden;
}
.accordions .item.active .title > div i:last-child{
    @apply block;
}
.accordions .item .content{
    @apply relative px-4 md:px-10 lg:px-14 h-0 scale-y-0 overflow-hidden opacity-0 transition-all duration-200 ease-in-out font-helvetica35;
}
.accordions .item.active .content{
    @apply h-auto pt-6 pb-2 overflow-visible opacity-100 scale-y-100;
}
.orderItem{
    @apply relative pl-[34px] my-2;
}
.orderItem .num{
    @apply absolute top-0 left-0 flex justify-center items-center w-6 h-6 rounded-full bg-primary-dark text-white text-sm text-center;
}
.accordions .item .content ul{
    @apply list-disc ml-5;
}
.accordions .item .content h6.bold{
    @apply font-helvetica75;
}


.tabs{
    @apply flex flex-col mt-10;
}
.tabs > ul {
    @apply flex justify-start items-center border-b-[1px] border-b-black border-opacity-5 gap-8;
}
.tabs > ul > li > a{
    @apply block py-1 pb-2 border-b-[3px] border-b-transparent font-helvetica35 -mb-1;
}
.tabs > ul > li > a.active{
    @apply font-helvetica75 text-secondary border-b-secondary pb-1;
}
.tabs .content{
    @apply h-0 scale-y-0 overflow-hidden opacity-0 transition-all duration-200 ease-in-out;
}
.tabs .content.active{
    @apply h-auto overflow-visible opacity-100 scale-y-100;
}
.tabs .content table{
    @apply w-full border-t-[1px] border-t-black border-l-[1px] border-l-black border-opacity-10 font-helvetica35;
}
.tabs .content table td{
    @apply py-4 px-6 border-b-[1px] border-b-black border-r-[1px] border-r-black border-opacity-10;
}
.tabs .content table td:last-child{
    @apply text-center;
}


.packageSwitch{
    @apply flex justify-between;
}
.packageSwitch a{
    @apply border-[1px] border-black border-opacity-10 py-1 px-4 text-sm;
}
.packageSwitch a:last-child{
    @apply border-l-0 rounded-r-full;
}
.packageSwitch a:first-child{
    @apply border-r-0 rounded-l-full;
}
.packageSwitch a.active{
    @apply bg-secondary bg-opacity-20 border-[1px] border-secondary text-secondary font-helvetica55;
}


/* locked */
.locked{
    @apply relative px-1;
}
.locked > .lockedContent{
    @apply absolute inset-0 flex flex-col justify-center items-center text-center py-20 bg-white bg-opacity-75 backdrop-blur-sm ;
}


/* search widget */
div.asp_w.ajaxsearchpro.asp_non_compact#ajaxsearchpro1_1{
    border-radius: 30px !important;
    padding-left:15px;
    padding-right:15px;
}
div.asp_w.ajaxsearchpro.asp_non_compact#ajaxsearchpro2_1{
    border-radius: 30px !important;
    padding-left:15px;
    padding-right:15px;
    max-width:600px;
    margin:0 auto;
}



/* ingredients index */
.topPageIngredients{
    @apply bg-primary-dark text-white min-h-[400px] flex justify-center items-center pt-24 text-center;
}
.productIngredientsABC{
    @apply py-10;
}
.productIngredientsABC .navs{
    @apply flex flex-wrap lg:flex-nowrap justify-start lg:justify-between items-center border-t-[1px] border-l-[1px] border-primary-light border-opacity-25 my-10;
}
.productIngredientsABC .navs > a{
    @apply flex justify-center items-center w-[16.666%] md:w-[10%] lg:w-full h-12 border-r-[1px] border-b-[1px] border-primary-light border-opacity-25 hover:bg-primary-light hover:bg-opacity-25;
}



/* new_product */
.new_product{
    @apply bg-grayCustom flex flex-wrap md:flex-nowrap justify-between items-center my-10 relative;
}
.new_product > .content{
    @apply pl-10 md:pl-20 lg:pl-32 pr-10 min-w-full md:min-w-[50%] pt-20 lg:pt-0;
}
.new_product > img{
    @apply w-full md:w-1/2 h-full;
}
.new_product > .badge{
    @apply absolute top-6 lg:top-14 right-6 lg:right-14 py-3 px-8 text-white text-sm lg:text-base font-helvetica55 rounded-full tracking-widest;
}


@media(max-width:991px){
    .hidden-m.img-retail,
    .hidden-m.img-professional{
        display: none !important;
    }
}
@media(min-width:992px){
    .hidden-d.img-retail,
    .hidden-d.img-professional{
        display: none !important;
    }
}



.professional_service_block p{
    @apply font-helvetica35 mb-4;
}
.professional_service_block p:last-child{
    @apply mb-0;
}
.professional_service_block ol{
    @apply pl-5 list-decimal mb-5 font-helvetica35;
}
.professional_service_block ul{
    @apply pl-5 list-disc mb-5 font-helvetica35;
}
.professional_service_block strong{
    @apply font-helvetica75;
}
.professional_service_block hr{
    @apply my-6;
}
.professional_service_block h4{
    @apply text-lg font-helvetica75;
}
